<form action="/answer" data-turbo="false">
 <div class="container py-5">
  <h1 class="mb-3">Quelle est votre question?</h1>
  <div class="input-group">
    <input class="form-control" type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
 </div>
</form>
